{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <link rel="stylesheet" href="{% static 'bingbong_devapp/css/bingbong.css' %}"> </head>
<body>
  <div class="chat-wrapper">
    <div class="chat-container">
      <div class="chat-history-container">
        <ul class="chat-history">
        </ul>
      </div>
      <div class="chat-input">
        <input type="text" id="message" placeholder="Type your message here..." autocomplete="off">
        <button id="send-btn">Send</button>
      </div>
    </div>
    <div class="side-panel">
      <div class="user-info">
        </div>
      <div class="history-container">
        <h2>History</h2>
        <ul class="chat-history-list">
          </ul>
      </div>
      <button id="logout-btn">Log Out</button>
    </div>
  </div>
  <script src="{% static 'bingbong_webapp/js/bingbong.js' %}"></script> </body>
</html>
