{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BingBong AI</title>
    <link
      rel="icon"
      href="{% static 'bingbong_devapp/img/bb.png' %}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="{% static 'bingbong_devapp/css/bingbong.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    {% csrf_token %} 
    <div class="chat-wrapper">
      <div id="history-panel" class="side-panel">
        <div class="history-header">
          <button id="hide-history-btn">
            <i class="fas fa-chevron-left"></i>
          </button>
          {% if member_username %}
              <input type="hidden" id="logged-in-username" value="{{ member_username }}"> 
          {% else %}
              <p>You are not logged in.</p>
          {% endif %}
          <button id="add-conversation-btn">
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
        <div class="history-container">
          <ul id="chat-history-list" class="chat-history-list">
          </ul>
        </div>
      </div>
      <div id="chat-container" class="chat-container">
        <div class="chat-header">
          <div class="left-header">
            <button id="show-history-btn">
              <i class="fas fa-chevron-left"></i>
            </button>
            <div class="logo1">
              <a href="#">
                <img
                  src="{% static 'bingbong_devapp/img/bingbong.png' %}"
                  alt="Logo"
                  width="100"
                />
              </a>
            </div>
          </div>
          <button id="logout-btn"><i class="fas fa-sign-out-alt"></i></button>
        </div>
        <div id="chat-messages" class="chat-history">
          <!-- Messages will be dynamically added here -->
        </div>
      </div>
    </div>
    <div class="chat-input">
      <input
        type="text"
        id="user-input"
        placeholder="BingBong is here..."
        autocomplete="off"
        name="userInput"
      />
      <button id="send-btn"><i class="fas fa-paper-plane"></i></button>
    </div>

    <script src="{% static 'bingbong_devapp/js/bingbong.js' %}"></script>
  </body>
</html>
