{% load static %}

  
    <link href="{% static 'bingbong_devapp/css/login.css' %}" rel="stylesheet" />
   
    <div class="center">
    </div>
    <div class="popup">
        <div class="close-btn" onclick="closeSignUp()">&times;</div>
        {% csrf_token %}
            <div class="form">
                <div class="logo1">
                    <a href="#">
                        <img
                        src="{% static 'bingbong_devapp/img/bingbong.png' %}"
                        alt="Logo"
                        width="150"
                        />
                    </a>
                </div>
                <h3>Login</h3>
                <hr></hr>
                <div class ="form-element">
                    <label for="username">Username</label>
                </div>
                <div class ="form-element">
                    <input type="text" placeholder="Username" id="username" name="username" maxlength="30" required>
                </div>
                <div class ="form-element">
                    <label for="password">Password</label>
                </div>
                <div class ="form-element">
                    <input type="password" placeholder="Password" id="password" name="password" maxlength="16" required>
                </div>
                <div class="form-element">
                    <input type="checkbox" id="showpassword" onclick="showPass">
                    <label for="showpassword">Show Password</label>
                </div>
                <div class="form-element">
                    <button type="submit">Create Account</button>
                </div>
                <div class="form-element">
                    <label for="account">Don't have an account?</label>
                    <a href="/signup/">Sign up now!</a>
                </div>
            </div>
        </form>
    </div>
    <script src="{% static 'bingbong_devapp/js/signup.js' %}"></script>
